.row 
    .col
        .form-group
            label(for='inputName') رقم اللوحة  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  نوع اللوحة  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  نوع السيارة  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  رقم السائق
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName') اسم السائق
            input#inputName.form-control(type='text')
.row
    .col
        .form-group
            label(for='inputName')    
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')   
            input#inputName.form-control(type='text')
    .col
        .form-group 
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row
    .col
        .form-group
            label(for='inputName')    
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')   
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row
    .col
        .form-group
            label(for='inputName')    
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')   
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row
    .col
        .form-group
            label(for='inputName')    
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')   
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row
    .col
        .form-group
            label(for='inputName')    
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')     
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')   
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
h2 تفاصيل البوليصة
.dropdown-divider(offset="2")
.row 
    .col
        .form-group
            label(for='inputName')  الوزن
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  القيمة
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  التفاصيل
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  الوحدة
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  العدد
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  ارقام وعلامات
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')   رقم السائق
            input#inputName.form-control(type='text')
.row 
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row 
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row 
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row 
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
.row 
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')
    .col
        .form-group
            label(for='inputName')  
            input#inputName.form-control(type='text')