.row 
    .col
        .form-group
            label(for='inputName') خانة الملاحظات   
            input#inputName.form-control(type='text')
.row
    .col
        .form-group
            label(for='inputName')  اتفاقية خاصة   
            input#inputName.form-control(type='text')

.row
    .col
        .form-group
            label(for='inputName')  الدفع عند التسليم   
            input#inputName.form-control(type='text')
